.heading {
  text-align: center;
  color: #277582;
  padding: 20px;
  font-family: "Arial", sans-serif;
}
/*background image css*/
body {
  background-image: url("img/loginbackground.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*pop out menu css*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darkgrey;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: green;
  display: block;
  transition: 1.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: lightblue;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* login page css*/
.login body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.login {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 80px;
  background: #23463f;
  border-radius: 15px ;
}

.loginheader h1 {
  text-align: center;
  color: #277582;
  padding: 20px;
}

.loginheader h2 {
  text-align: center;
  color: #277582;
  padding: 20px;
}

.login label {
  color: #08ffd1;
  font-size: 17px;
}

#Uname {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Pass{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#log {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: blue;
  }

.login span {
  color: white;
  font-size: 17px;
}

.login a{
  float: right;
  background-color: grey;
}

.loginimage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  width: 30%;
  border-radius: 20px;
  border-color: #0C6861;
  border-style: solid;
  border-width: 3px;
}

/*forgot password css*/
.forgotpassword body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.forgotpassword {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 80px;
  background: #23463f;
  border-radius: 15px ;
}

.forgotpasswordheader h1 {
  text-align: center;
  color: #277582;
  padding: 20px;
}

.forgotpasswordheader h2 {
  text-align: center;
  color: #277582;
  padding: 20px;
}

.forgotpassword label {
  color: #08ffd1;
  font-size: 17px;
}

#Email {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}


#Submit {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: blue;
  }

#Back {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}

.forgotpassword span {
  color: white;
  font-size: 17px;
}

.forgotpassword a{
  float: right;
  background-color: grey;
}

/* create account css*/
.createaccount body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.createaccount {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 80px;
  background: #23463f;
  border-radius: 15px ;
}

.createaccountheader h1 {
  text-align: center;
  color: #277582;
  padding: 20px;
}

.createaccountheader h2 {
  text-align: center;
  color: #277582;
  padding: 20px;
}

.createaccount label {
  color: #08ffd1;
  font-size: 17px;
}

#Email{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Uname {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Pass{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Submit {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: blue;
  }

#Back {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}

.createaccount span {
  color: white;
  font-size: 17px;
}

.createaccount a{
  float: right;
  background-color: grey;
}

/*expense css*/
.expense body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.expense {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 80px;
  background: #23463f;
  border-radius: 15px ;
}

.expenseheader h1 {
  text-align: center;
  color: #277582;
  padding: 20px;
}

.expenseheader h2 {
  text-align: center;
  color: #277582;
  padding: 20px;
}

.expense label {
  color: #08ffd1;
  font-size: 17px;
}

#Expense{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Date {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Price{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Submit {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: blue;
  }

#Back {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}

.expense span {
  color: white;
  font-size: 17px;
}

.expense a{
  float: right;
  background-color: grey;
}

/*income css*/
.income body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.income {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 80px;
  background: #23463f;
  border-radius: 15px ;
}

.incomeheader h1 {
  text-align: center;
  color: #277582;
  padding: 20px;
}

.incomeheader h2 {
  text-align: center;
  color: #277582;
  padding: 20px;
}

.income label {
  color: #08ffd1;
  font-size: 17px;
}

#Income{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Date {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Price{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Submit {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: blue;
  }

#Back {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}

.income span {
  color: white;
  font-size: 17px;
}

.income a{
  float: right;
  background-color: grey;
}

/*search page css*/
.searchheader h1 {
  text-align: center;
  color: #277582;
  padding: 20px;
}

.searchheader h2 {
  text-align: center;
  color: #277582;
  padding: 20px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*savingsgoal css*/
.savings body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.savings {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 80px;
  background: #23463f;
  border-radius: 15px ;
}

.savingsheader h1 {
  text-align: center;
  color: #277582;
  padding: 20px;
}

.savingsheader h2 {
  text-align: center;
  color: #277582;
  padding: 20px;
}

.savings label {
  color: #08ffd1;
  font-size: 17px;
}

#Savings{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Date {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Price{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Submit {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: blue;
  }

#Back {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}

.savings span {
  color: white;
  font-size: 17px;
}

.savings a{
  float: right;
  background-color: grey;
}
